Q1. How do you comment code in Python? What are the different types of comments?

Comments in Python are the lines in the code that are ignored by the interpreter during the execution of the program. Comments enhance the readability of the code and help the programmers to understand the code very carefully. Comments in Python are identified with a hash symbol, #, and extend to the end of the line.

There are three types of comments in Python:

a.Single line Comments
b.Multiline Comments
c.Docstring Comments

a.Single-Line Comments:

Single-line comments begin with the “#” character. Anything that is written in a single line after ‘#’ is considered as a comment. The syntax for writing single-line comments is: # ,comments here

In [3]:
# discription about my house
print("My house is so beutiful")

My house is so beutiful

b.Multi-Line Comments in Python:
    
Python does not provide the option for multiline comments. However, there are different ways through which we can write multiline comments.

Multiline comments using multiple hashtags (#)

We can multiple hashtags (#) to write multiline comments in Python. Each and every line will be considered as a single-line comment.

In [4]:
# defining general structure of a house
House = {'house number':1245 , # Randomly assign
         'Gali number':4 ,#  East rajiv nagar
         'sector': 13, #  Gurgaon
         'State': 'Haryana' 
        }
print(House)

{'house number': 1245, 'Gali number': 4, 'sector': 13, 'State': 'Haryana'}

b.a. Single-line comments using string literals

On executing the  code we can see that there will not be any output so we use the strings with triple quotes(“””) as multiline comments.

In [9]:
""" My introduction"""
print("Hello , I am yashwant Singh")

Hello , I am yashwant Singh

In [8]:
""" Python program to demonstrate
multiline comments"""
print("Multiline comments")

Multiline comments

c. Docstring comments:

Python docstring is the string literals with triple quotes that are appeared right after the function. It is used to associate documentation that has been written with Python modules, functions, classes, and methods. It is added right below the functions, modules, or classes to describe what they do.

In [10]:
def multiply(a, b):
	"""Multiplies the value of a and b"""
	return a*b


# Print the docstring of multiply function
print(multiply.__doc__)

Multiplies the value of a and b

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are containers for storing data values.

Creating Variables:

Python has no command for declaring a variable.
variable names are case-sensitive.
A variable is created the moment you first assign a value to it.

In [11]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [13]:
x = "John"
# is the same as
x = 'John'
print(x)

John

Q3. How do you convert one data type to another in Python?

If you want to specify the data type of a variable, this can be done with casting.

In [22]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

3
3
3.0
<class 'str'>
<class 'int'>
<class 'float'>

Q4. How do you write and execute a Python script from the command line?

The most basic and easy way to run a Python script is by using the python command. You need to open a command line and type the word python followed by the path to your script file like this:

python first_script.py
Hello World!


Then you hit the ENTER button from the keyboard, and that's it. You can see the phrase Hello World! on the screen.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [23]:
my_list = [1,2,3,4,5]

In [25]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics:

Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are real numbers and 'i' is an imaginary number called “iota”.

But in python :
    
It is written in the form of (x + yj) where x and y are real numbers and j is an imaginary number which is the square root of

In [27]:
Y = 4+7j

In [28]:
type(Y)

complex

In [30]:
A = 3+7i  # In python J is represent the imaginary number

SyntaxError: invalid decimal literal (202422704.py, line 1)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [31]:
name_age = 25

In [32]:
name_age

25

In [33]:
type(name_age)

int

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [34]:
price = 9.99

In [35]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [36]:
name = "Yashwant Singh"

In [37]:
name

'Yashwant Singh'

In [38]:
print(name)  # none type

Yashwant Singh

In [39]:
type(name)

str

In [40]:
print(type(name))

<class 'str'>

Q10. Given the string "Hello, World!", extract the substring "World".

In [41]:
my_string = "Hello, World!"

In [42]:
my_string[7:12]

'World'

In [43]:
print(my_string[7:12])

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [47]:
is_student = True
print(is_student)

True

In [ ]:
is_student = False
print(is_student)