Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
a = "Ram"

In [3]:
type(a)

str

In [4]:
b = [7,4,6,"Sita",40.65]

In [5]:
type(b)

list

In [6]:
c = 45.67

In [7]:
type(c)

float

In [8]:
d = (1,'b',5)

In [9]:
type(d)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [10]:
var1 = ''

In [11]:
var1

''

In [12]:
type(var1)

str

In [13]:
var2 = '[DS,ML,Python]'

In [14]:
var2

'[DS,ML,Python]'

In [15]:
type(var2)

str

In [16]:
var3 = ['DS','ML','Python']

In [17]:
var3

['DS', 'ML', 'Python']

In [18]:
type(var3)

list

In [19]:
var4 = 1

In [20]:
var4

1

In [21]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [22]:
15/4   # use for float division

3.75

In [23]:
15%4  # it gives remainder

3

In [24]:
15//4  #use for integer division or floor division

3

In [25]:
15**4   #use for exponential operator

50625

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [26]:
list1 = [2,5,7,9,3.4,True,'Ram',(4+5j),"Sita",False]
for i in list1:
    print(i)
    print(type(i))

2
<class 'int'>
5
<class 'int'>
7
<class 'int'>
9
<class 'int'>
3.4
<class 'float'>
True
<class 'bool'>
Ram
<class 'str'>
(4+5j)
<class 'complex'>
Sita
<class 'str'>
False
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
A = 30
B = 10
if A>=B:
    V = A/B
    print(V)

3.0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
list = [5,6,8,9,12,24,25,3,4,56,78,45,67,89,40,32,42,53,76,54,87,90,87,95,19]
for i in list:
    if i%3==0:
        print(i,'Yes , this number is divisible by 3')
        i=i+1
else:
     print('')

6 Yes , this number is divisible by 3
9 Yes , this number is divisible by 3
12 Yes , this number is divisible by 3
24 Yes , this number is divisible by 3
3 Yes , this number is divisible by 3
78 Yes , this number is divisible by 3
45 Yes , this number is divisible by 3
42 Yes , this number is divisible by 3
54 Yes , this number is divisible by 3
87 Yes , this number is divisible by 3
90 Yes , this number is divisible by 3
87 Yes , this number is divisible by 3

In [2]:
list = [5,6,8,9,12,24,25,3,4,56,78,45,67,89,40,32,42,53,76,54,87,90,87,95,19]
for i in list:
    if i%3==0:
        print(i,'Yes ,this number is divisible by 3')
        i=i+1
    if i%3!=0:
        print(i,'No ,this number is not divisible by 3')

5 No ,this number is not divisible by 3
6 Yes ,this number is divisible by 3
7 No ,this number is not divisible by 3
8 No ,this number is not divisible by 3
9 Yes ,this number is divisible by 3
10 No ,this number is not divisible by 3
12 Yes ,this number is divisible by 3
13 No ,this number is not divisible by 3
24 Yes ,this number is divisible by 3
25 No ,this number is not divisible by 3
25 No ,this number is not divisible by 3
3 Yes ,this number is divisible by 3
4 No ,this number is not divisible by 3
4 No ,this number is not divisible by 3
56 No ,this number is not divisible by 3
78 Yes ,this number is divisible by 3
79 No ,this number is not divisible by 3
45 Yes ,this number is divisible by 3
46 No ,this number is not divisible by 3
67 No ,this number is not divisible by 3
89 No ,this number is not divisible by 3
40 No ,this number is not divisible by 3
32 No ,this number is not divisible by 3
42 Yes ,this number is divisible by 3
43 No ,this number is not divisible by 3
53 No ,this number is not divisible by 3
76 No ,this number is not divisible by 3
54 Yes ,this number is divisible by 3
55 No ,this number is not divisible by 3
87 Yes ,this number is divisible by 3
88 No ,this number is not divisible by 3
90 Yes ,this number is divisible by 3
91 No ,this number is not divisible by 3
87 Yes ,this number is divisible by 3
88 No ,this number is not divisible by 3
95 No ,this number is not divisible by 3
19 No ,this number is not divisible by 3

#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
# A mutable object can be changed on a perticular index value ,after it is created.
# examle: List,Set,Dictonary

In [ ]:
Yash = [3,4,5,"Shyam"]

In [18]:
Yash

[3, 4, 5, 'Shyam']

In [19]:
Yash[2] = 200

In [20]:
Yash

[3, 4, 200, 'Shyam']

In [21]:
# An immutable object can't be changed on a particular index value ,after it is created.
# example : string, tuple, float, bool

In [23]:
Yash1 = "Ram"

In [24]:
Yash1

'Ram'

In [28]:
Yash1[0]

'R'

In [29]:
Yash1[0]='S'

TypeError: 'str' object does not support item assignment